--- search.html ---
{% extends "base.html" %}
{% block title %}Search Player{% endblock %}
{% block content %}
  <div class="box">
    <h2 class="title is-4">Search for Player</h2>
    <form method="POST" action="/search">
      <div class="field">
        <label class="label">RuneScape Name</label>
        <div class="control">
          <input class="input" type="text" name="nm" placeholder="Enter username..." required>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input type="checkbox" name="Get latest">
            Update from latest hiscore data
          </label>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <button class="button is-primary" type="submit">Submit</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
