{% extends "base.html" %}
{% block title %}Search Page{% endblock %}
{% block content %}
    <style>
        @import url('http://fonts.cdnfonts.com/css/runescape-uf');
            h1 {
                color:Green;
            }
            div.scroll {
                margin: auto;
                padding:4px;
                background-color: #222222;
                width: 1080px;
                height: 720px;
                overflow-x: auto;
                overflow-y: auto;
                text-align:center;
            }
            table td,
table th {
    font-family: 'RuneScape UF', sans-serif;

  border: 1px solid black;
  padding: 0.5rem 1rem;
}
table thead th {
  padding: 3px;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 25vw;
  background: gray;
}
table td {
  background: #222222;
  color:  #989898;
  padding: 4px 5px;
  text-align: center;
}

table tbody th {
  font-weight: 100;
  font-style: bolder;
  text-align: left;
  position: relative;
}
table thead th:first-child {
  position: sticky;
  left: 0;
  z-index: 2;
}
table tbody th {
  position: sticky;
  left: 0;
  background: gray;
  z-index: 1;
}
caption {
  text-align: left;
  padding: 0.25rem;
  position: sticky;
  left: 0;
}

[role="region"][aria-labelledby][tabindex] {
  width: 100%;
  max-height: 98vh;
  overflow: auto;
}
[role="region"][aria-labelledby][tabindex]:focus {
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
  outline: 0;
}
    </style>
<body>
    
    <div class="content has-text-light" style="margin:auto; text-align:center;">
        <h2>{{name}}</h2>
    </div>
    
            
         
            
            {% for table in tables %}
            <div class="scroll" >
                        <table class="table has-background-grey-light is-hoverable is-bordered is-narrow is-fullwidth has-sticky-header">
                            
                            <td class="content has-background-grey-light">{{ table|safe }}<td>
                        </table>
            </div>
            {% endfor %}
            <div class='scroll'>
                <img src='data:image/png;base64,{{graphs}}'/>
            </div>
        


</body>
{% endblock %}